@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">SomeThing Happen! 😔</h2>
<p>There is an unExpected Problem Happen Please Try Again Later.</p>
<a asp-controller="Departments" asp-action="Index" class="btn btn-primary">Back to Home</a>
