@model List<WebApplication3.Models.Department>

@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewData["Title"] = "Department List";
    int totalPages = ViewBag.TotalPages ?? 1;
}
@if (ViewBag.Error != null)
{
    <div style="color:red">@ViewBag.Error</div>
}
<h2 class="mb-4 text-primary">Department List</h2>

<div class="mb-3">
    <a asp-controller="Departments" asp-action="Create" class="btn btn-success">+ Add New Department</a>
</div>

<div class="mb-3">
    <input type="text" id="searchInput" class="form-control" placeholder="Search by name..." />
    <button type="button" id="searchBtn" class="btn btn-primary">🔍</button>
</div>

<div id="departmentsTable">
    @await Html.PartialAsync("_DepartmentTablePartial", Model)
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        $('#searchBtn').on('click', function () {
            const name = $('#searchInput').val();

            $.ajax({
                url: '@Url.Action("Search", "Departments")',
                type: 'GET',
                data: { name: name },
                success: function (result) {
                    $('#departmentsTable').html(result);
                },
                error: function () {
                    alert("Something went wrong.");
                }
            });
        });
    </script>
}


<nav>
    <ul class="pagination justify-content-center">

        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }

    </ul>
</nav>
