@model WebApplication3.Models.Student

<div asp-validation-summary="All" class="text-danger mb-3"></div>

<div class="mb-3">
    <label asp-for="ImageFile" class="form-label"></label>
    <input asp-for="ImageFile" type="file" class="form-control" />
</div>

<div class="mb-3">
    <label asp-for="FullName" class="form-label"></label>
    <input asp-for="FullName" class="form-control" />
</div>

<div class="mb-3">
    <label asp-for="Age" class="form-label"></label>
    <input asp-for="Age" class="form-control" />
</div>

<div class="mb-3">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control" />
</div>

<div class="mb-3">
    <label asp-for="DepartmentId" class="form-label"></label>
    <select asp-for="DepartmentId" class="form-select" asp-items="ViewBag.Departments">
        <option value="">-- Select Department --</option>
    </select>
</div>


